In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data = pd.read_csv('data.csv', index_col=0)

In [3]:
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%y')
data['Day'] = data['Date'].dt.day_name()
data.drop(['Date','DaySin','DayCos','MealNum', 'Item1Num', 'Item2Num', 'Item3Num', 'Item4Num', 'Item5Num', 'Item6Num', 'Item7Num', 'Item8Num'], axis=1, inplace=True)

In [4]:
data

,Meal,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Day
0,Breakfast,CORNFLAKES,BOILED EGG (E &D),"UTTAPAM , SAMBHAR",COCONUT CHUTNEY (V),"BREAD, BUTTER (D), JAM","BANANA,PEARS","MILK- HOT & COLD (D), TEA (D), COFFEE (D)","PORRIDGE (D), BOURNVITA",Monday
1,Lunch,"GREEN SALAD,MASALA LACCHA ONION",CHICKEN DAHI WALA (N&P&D),PALAK PANEER (D),YELLOW MOONG DAL (V),JEERA RICE,TAWA ROTI,"ACHAR, PAPAD",-1,Monday
2,Snacks,CHILLI GARLIC POPCORN (V),NIMBU PANI,-1,-1,-1,-1,-1,-1,Monday
3,Dinner,"GREEN SALAD , BEETROOT SEASME SALAD",MAC & CHEESE (D),LAUKI CHANA MASALA,DAL TADKA,PLAIN RICE,"TAWA ROTI,GARLIC BREAD",ACHAR,TIRAMISU (D),Monday
4,Breakfast,MUESLI,EGG BHURJI (E),BANANA PANCAKE (D),"HONEY,CHOCOLATE SYRUP","BREAD, BUTTER (D), JAM","BANANA,PAPAYA","MILK- HOT & COLD (D), TEA (D), COFFEE (D)","PORRIDGE (D), BOURNVITA",Tuesday
...,...,...,...,...,...,...,...,...,...,...
1339,Dinner,"GREEN SALAD,SIRKA ONION",CHICKEN CHETINNAD (NV/N/D),KADHAI PANEER (D),DHABA DAL (V),STEAM RICE,TAWA ROTI,ACHAR,-1,Saturday
1340,Breakfast,CORNFLAKES,SCRAMBLED EGG (E),HASHBROWN (D),BAKED BEANS (V),"BREAD, BUTTER (D), JAM","BANANA,PAPAYA","MILK- HOT & COLD (D), TEA (D), COFFEE (D)","PORRIDGE (D), BOURNVITA",Sunday
1341,Lunch,"GREEN SALAD, LACCHA ONION SALAD",PINDI CHOLEY (V),HARE KADDU KI SABZI (V),CURD (D),STEAM RICE,POORI,"ACHAR, PAPAD",-1,Sunday
1342,Snacks,SPINACH CORN SANDWICH (D),"TEA (D), COFFEE (D)",-1,-1,-1,-1,-1,-1,Sunday
1343,Dinner,"THAI CUCUMBER AND CARROT SALAD,MANGO TANG",VEGETABLE MANCHURIAN,POTATO WEDGES,GARLIC CHILLI NOODLES,VEG FRIED RICE,-1,-1,STRAWBERRY ICE CREAM (D),Sunday

In [5]:
items_list = []
for index, row in data.iterrows():
    row_items = []
    for i in range(1,9):
        items = [x.strip() for x in row['Item'+str(i)].split(',')]
        for item in items:
            if item == '-1':
                continue
            skip = 0
            new_item = ''
            for index,char in enumerate(item):
                if skip:
                    if char in [')']:
                        skip=0
                    continue
                if char in ['(']:
                    skip=1
                    continue
                new_item += char
            
            new_item = new_item.strip().upper()
            if new_item == '':
                continue
            if new_item == '-':
                continue
            if new_item == 'WATEMELON' or new_item == 'WATEREMELON':
                new_item = 'WATERMELON'
            elif new_item == 'VERMECILLI UPMA':
                new_item = 'VERMICILLI UPMA'
            elif new_item == 'COLESLAW SADWHICH':
                new_item = 'COLESLAW SANDWHICH'
            elif new_item == 'CUIRD':
                new_item = 'CURD'
            elif new_item == 'CUP CAKES':
                new_item = "CUP CAKE"
            elif new_item == 'DAL BHUKARA':
                new_item = 'DAL BUKHARA'
            elif new_item == 'EXOTIC VEGETABLE IN TOMATO BASIL SAUCE':
                new_item = 'EXOTIC VEGETABLES IN TOMATO BASIL SAUCE'
            elif new_item == 'FRUIT CUSTRAD':
                new_item = 'FRUIT CUSTARD'
            elif new_item == 'FRIES':
                new_item = 'FRENCH FRIES'
            elif 'FUSILLI' in new_item or 'FUISSILI' in new_item or 'FUSSILI' in new_item:
                new_item = "FUSILLI PASTA"
            elif new_item=='GAJAR  MATAR' or new_item =='GAJAR MATAR KI SUBZI':
                new_item = 'GAJAR MATAR'
            elif 'HASH' in new_item:
                new_item = 'HASHBROWN'
            elif 'HING' in new_item:
                new_item = 'HING DHANIYE KE CHATPATE ALOO'
            elif 'HOME' in new_item and 'MACRONI' in new_item:
                new_item = 'HOME STYLE MACARONI'
            elif 'HOME' in new_item and 'PANEER' in new_item:
                new_item = 'HOME STYLE MATAR PANEER'
            elif 'HOME' in new_item and 'MIX' in new_item:
                new_item = 'HOME STYLE MIX PASTA'
            elif new_item == 'JAGERRY':
                new_item = 'JAGGERY'
            elif new_item == 'JERRA ALOO':
                new_item = 'JEERA ALOO'
            elif 'KAD' in new_item and ('PAKODA' in new_item or 'PAKORA' in new_item):
                new_item = 'KADHI PAKODA'
            elif new_item=='KARELA DO  PYAZA' or new_item=='KERELA DO PYAZA':
                new_item = 'KARELA DO PYAZA'
            elif 'KHATTA' in new_item and 'PANI' in new_item:
                new_item = 'KHATTA MEETHA PANI'
            elif new_item=='KHATTA MEETA PETHA':
                new_item = 'KHATTA MEETHA PETHA'
            elif new_item == 'KOTHMERI KEBAB':
                new_item = 'KOTHMIRI KEBAB'
            elif 'LAUKI' in new_item and 'VADI' in new_item:
                new_item = 'LAUKI URAD VADI'
            elif 'MALAI KOFTA' in new_item:
                new_item = 'MALAI KOFTA CURRY'
            elif new_item=='MANGO  MOUSSE':
                new_item = 'MANGO MOUSSE'
            elif new_item=='MASALA  ALOO':
                new_item = 'MASALA ALOO'
            elif new_item=='MASALA OMELLETE':
                new_item = 'MASALA OMELETTE'
            elif new_item=='METHI POORI':
                new_item = 'METHI PURI'
            elif 'ONION' in new_item and 'LACCHA' in new_item:
                new_item = 'LACCHA ONION'
            elif new_item=='MIRCHI KA SALAN':
                new_item = 'MIRCH KA SALAN'
            elif 'MIX' in new_item and 'VEG' in new_item:
                new_item = 'MIX VEG'
            elif new_item=='PANEER NEILGIRI':
                new_item = 'PANEER NILGIRI'
            elif new_item=='PAPDI CHAT':
                new_item = 'PAPDI CHAAT'
            elif 'PENNE' in new_item and ('ARRABIATA' in new_item or 'RED' in new_item):
                new_item = 'PENNE ARRABIATA'
            elif 'PENNE' in new_item and 'TANA' in new_item:
                new_item = 'PENNE NAPOLITANA'
            elif 'PENNE' in new_item and 'ALF' in new_item:
                new_item = 'PENNE ALFREDO'
            elif 'PENNE' in new_item and ('PINK' in new_item or 'MIX' in new_item):
                new_item = 'PENNE PINK'
            elif 'PHIRNEE' in new_item:
                new_item = 'PHIRNI'
            elif 'PLAIN RICE/ BUTTER MILK' in new_item:
                new_item = 'PLAIN RICE'
                row_items.append('BUTTER MILK')
            elif 'RED' in new_item and 'MALKA' in new_item:
                new_item = 'RED MALKA DAL'
            elif 'ROSE' in new_item and 'POT' in new_item:
                new_item = 'ROSEMARY POTATO'
            elif 'RUSIAN' in new_item:
                new_item='RUSSIAN SALAD'
            elif 'SAMBER' in new_item:
                new_item='SAMBHAR'
            elif 'SARSON' in new_item:
                new_item = 'SARSON KA SAAG'
            elif 'SCH' in new_item and 'RICE' in new_item:
                new_item = 'SCHEZWAN FRIED RICE'
            elif 'TUKDA' in new_item:
                new_item = 'SHAHI TUKDA'
            elif 'SEV' in new_item and 'MAT' in new_item:
                new_item = 'SEV TAMATAR KI SABZI'
            elif 'SEWAI' in new_item:
                new_item = 'SEWAI PAYASAM'
            elif new_item=='SINDHI KADI':
                new_item = 'SINDHI KADHI'
            elif 'SING' in new_item and 'NOODLES' in new_item:
                new_item = 'SINGAPOREAN NOODLES'
            elif 'SOYA' in new_item and 'CURRY' in new_item:
                new_item = 'SOYA CHAAP CURRY'
            elif 'SOYA' in new_item and 'MASALA' in new_item:
                new_item = 'SOYA CHAAP MASALA'
            elif 'SOYA' in new_item and 'MATAR' in new_item:
                new_item = 'SOYA KEEMA MATAR'
            elif new_item=='SOYA CHILLY':
                new_item = 'SOYA CHILLI'
            elif 'STE' in new_item and 'RICE' in new_item:
                new_item = 'STEAMED RICE'
            elif 'SWIZZ' in new_item:
                new_item = 'SWISS ROLL'
            elif 'SUB' in new_item and 'KOL' in new_item:
                new_item = 'SUBZ KOLHAPURI'
            elif new_item=='TAWA SUBZ':
                new_item = 'TAWA SABJI'
            elif new_item=='TEA   COFFEE' or new_item=='TEA COFFEE':
                new_item='TEA'
                row_items.append('COFFEE')
            elif 'THAI' in new_item and 'CAR' in new_item:
                new_item = 'THAI CUCUMBER AND CARROT SALAD'
            elif 'JALJ' in new_item:
                new_item = 'JALJEERA'
            elif new_item=='UTTAPHAM':
                new_item='UTTAPAM'
            elif 'VAN' in new_item and 'CREAM' in new_item:
                new_item = 'VANILLA ICE CREAM'
            elif 'BURGER' in new_item:
                new_item = 'BURGER'
            elif 'VEG JAL' in new_item:
                new_item = 'VEG JALFREZI'
            elif 'VEG' in new_item and 'LAS' in new_item:
                new_item = 'VEG LASAGNE'
            elif 'HAKKA' in new_item:
                new_item = 'HAKKA NOODLES'
            elif 'THAI' in new_item and 'CURRY' in new_item:
                new_item = 'THAI CURRY'
            elif 'PANEER' in new_item and 'BIRYANI' in new_item:
                new_item = 'PANEER BIRYANI'
            elif new_item=='YELLOW MOONG DAL TADKA':
                new_item = 'YELLOW MOONG DAL'
            
            row_items.append(new_item)
    items_list.append(row_items)

In [6]:
data['Items'] = items_list
data.drop(['Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item6', 'Item7', 'Item8'], axis=1, inplace=True)

In [7]:
data

           Meal       Day                                              Items
0     Breakfast    Monday  [CORNFLAKES, BOILED EGG, UTTAPAM, SAMBHAR, COC...
1         Lunch    Monday  [GREEN SALAD, LACCHA ONION, CHICKEN DAHI WALA,...
2        Snacks    Monday                [CHILLI GARLIC POPCORN, NIMBU PANI]
3        Dinner    Monday  [GREEN SALAD, BEETROOT SEASME SALAD, MAC & CHE...
4     Breakfast   Tuesday  [MUESLI, EGG BHURJI, BANANA PANCAKE, HONEY, CH...
...         ...       ...                                                ...
1339     Dinner  Saturday  [GREEN SALAD, SIRKA ONION, CHICKEN CHETINNAD, ...
1340  Breakfast    Sunday  [CORNFLAKES, SCRAMBLED EGG, HASHBROWN, BAKED B...
1341      Lunch    Sunday  [GREEN SALAD, LACCHA ONION, PINDI CHOLEY, HARE...
1342     Snacks    Sunday               [SPINACH CORN SANDWICH, TEA, COFFEE]
1343     Dinner    Sunday  [THAI CUCUMBER AND CARROT SALAD, MANGO TANG, V...

[1344 rows x 3 columns]

In [8]:
from sklearn.preprocessing import MultiLabelBinarizer

In [9]:
newdf = pd.get_dummies(data['Meal'],dtype=int).join(pd.get_dummies(data['Day'],dtype=int))

In [10]:
mlb = MultiLabelBinarizer()
res = pd.DataFrame(mlb.fit_transform(data['Items']), columns=mlb.classes_, index=data.index)

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(res.keys().tolist())

['AAM PANNA', 'ACHAR', 'ACHARI ALOO', 'ACHARI BAIGAN', 'AJWANI POORI', 'ALOO  CHANA CHAT', 'ALOO  MATAR  TAMATAR', 'ALOO  PEANUT CHAT', 'ALOO  TAMATAR  KI SABZI', 'ALOO BAIGAN', 'ALOO BAINGAN MASALA', 'ALOO BEANS', 'ALOO BHAJI', 'ALOO BONDA', 'ALOO CAPSICUM', 'ALOO CHANA CHAT', 'ALOO CHANA CHAT SALAD', 'ALOO CHAT', 'ALOO CHEESE SANDWICH', 'ALOO GHOBI MASALA', 'ALOO GOBHI ADRAKI', 'ALOO GOBHI MASALA', 'ALOO GOBHI MATAR', 'ALOO GOBHI MUTTER MASALA', 'ALOO HARA PYAZ', 'ALOO HARE PYAZ KI SUBZI', 'ALOO JEERA', 'ALOO KI CHAT', 'ALOO MANGODI  KI SUBZI', 'ALOO MATAR', 'ALOO MATAR TAMATAR', 'ALOO METHI', 'ALOO PALAK', 'ALOO PARATHA', 'ALOO PEANUT CHAT', 'ALOO SANDWICH', 'ALOO TAMATAR', 'ALOO TIKI', 'ALOO TIKKI', 'ALOO VADI', 'AMERICAN CORN SALAD', 'APPLE', 'APPLE PIE', 'ARHAR DAL TADKA', 'ARHAR DAL TDAKA', 'ASSORTED ICE CREAM', 'ASST PASTRIES', 'ASST PASTRY', 'ATTA LADOO', 'BAIGAN ACHARI', 'BAIGAN BHARTA', 'BAIGAN MASALA', 'BAINGAN MASALA', 'BAKED BEANS', 'BAKED VEGETABLES', 'BAKED VEGETABLES IN WHITE SAUCE', 'BALUSAHI', 'BALUSAI', 'BALUSHAHI', 'BANANA', 'BANANA CAKE', 'BANANA PANCAKE', 'BANANA PANCAKES', 'BANANA SHAKE', 'BATHUA KADHI', 'BATHUA PARATHA', 'BATURE', 'BEETROOT & CARROT SALAD', 'BEETROOT CARROT SALAD', 'BEETROOT POORI', 'BEETROOT SEASME SALAD', 'BEETROOT&CARROT SALAD', 'BESAN CHILA', 'BESAN CHILLA', 'BESAN GATTA CURRY', 'BESAN LADOO', 'BHAJI', 'BHATURA', 'BHATURE', 'BHEL PURI', 'BHINDI DO PYAZA', 'BHINDI MASALA', 'BHUNA CHICKEN', 'BLACK MALKA DAL', 'BLACK MASOOR DAL', 'BOILED EGG', 'BOONDI LADOO', 'BOONDI RAITA', 'BOURNVITA', 'BREAD', 'BREAD PAKODA', 'BROWNIE', 'BUN MASKA', 'BURANI RAITA', 'BURGER', 'BURRANI RAITA', 'BUTTER', 'BUTTER CHICKEN', 'BUTTER MILK', 'BUTTER SCOTCH ICE CREAM', 'BUTTERSCOTCH ICE CREAM', 'CABBAGE MATAR', 'CAKE SLICE', 'CANTONESE STYLE VEG IN BLACK BEAN SAUCE', 'CANTONESE STYLE VEG IN SESAME SAUCE', 'CAPSICUM ALOO', 'CARROT & BEETROOT SALAD', 'CARROT CAKE', 'CHACH', 'CHANA CHAT', 'CHANA CHAT SALAD', 'CHANA DAL', 'CHANA DAL MASALA', 'CHANA DAL TADKA', 'CHANA URAD DAL', 'CHANA URAD DAL TADKA', 'CHARRA ALOO HARA PYAZ', 'CHATPATE ALOO', 'CHEESE MUSHROOM TOAST', 'CHEESE OMELLETE', 'CHEESE TOAST', 'CHHACH', 'CHICKEN BIRYANI', 'CHICKEN CHETINNAD', 'CHICKEN CHETTINAD', 'CHICKEN CURRRY', 'CHICKEN CURRY', 'CHICKEN DAHI WALA', 'CHICKEN DO PYAZA', 'CHICKEN KALI MIRCH', 'CHICKEN KALIMIRCH', 'CHICKEN KHOLAPURI', 'CHICKEN KOLHAPURI', 'CHICKEN MAKHANI', 'CHICKEN MASALA', 'CHICKEN ROGAN JOSH', 'CHICKEN SAAG WALA', 'CHICKEN SAAGWALA', 'CHICKEN VINDALOO', 'CHILLI GARLIC POPCORN', 'CHOCOLATE  CUP CAKE', 'CHOCOLATE  ICE CREAM', 'CHOCOLATE BROWNE', 'CHOCOLATE BROWNIE', 'CHOCOLATE CUP CAKE', 'CHOCOLATE CUPCAKE', 'CHOCOLATE FUDGE CAKE', 'CHOCOLATE ICE CREAM', 'CHOCOLATE MOUSSE', 'CHOCOLATE MUFFIN', 'CHOCOLATE PANCAKE', 'CHOCOLATE PASTRY', 'CHOCOLATE SHAKE', 'CHOCOLATE SYRUP', 'CHOCOLATE TRUFFLE PUDDING', 'CHOCOS', 'CHOLEY', 'CHOLEY MASALA', 'COCONUT  CHUTNEY', 'COCONUT BURFI', 'COCONUT CHUTNEY', 'COCONUT LADDO', 'COCONUT LADOO', 'COFFEE', 'COFFEE MOUSSE', 'COLD COFFEE', 'COLESLAW SADWICH', 'COLESLAW SANDWICH', 'CONVOCATION LUNCH MENU', 'CORN KACHUMBER SALAD', 'CORN MASALA', 'CORN SPINACH SANDWICH', 'CORNFLAKES', 'CREAM CHICKEN', 'CREAM OF PUMPKIN', 'CREAM OF TOMATO SOUP', 'CUP CAKE', 'CURD', 'DAHI BHALLA', 'DAHI TIKKI', 'DAL ARHAR TADKA', 'DAL BALTIC', 'DAL BUKHARA', 'DAL FRY', 'DAL HYDERABADI', 'DAL KACHORI', 'DAL MAHARANI', 'DAL MAKHANI', 'DAL PANCHMEL', 'DAL RAJASTHANI', 'DAL SHORBA', 'DAL TADKA', 'DEATH BY CHOCOLATE', 'DHABA DAL', 'DHABA MURG', 'DIWANI HANDI', 'DUM ALOO KASHMIRI', 'EGG BHURJI', 'EXOTIC VEG IN HOT GARLIC SAUCE', 'EXOTIC VEGETABLES IN TOMATO BASIL SAUCE', 'FRENCH FRIES', 'FRIED EGG', 'FRUIT CAKE', 'FRUIT CAKE SLICE', 'FRUIT CUSTARD', 'FRUIT MUFFIN', 'FUDGE CAKE', 'FUSILLI PASTA', 'GAJAR ALOO MATAR', 'GAJAR BEANS MATAR', 'GAJAR HALWA', 'GAJAR MATAR', 'GARLIC BREAD', 'GARLIC CHILLI  NOODLES', 'GERMAN MUSTARD POTATO SALAD', 'GHUJIYA', 'GOBHI ADRAKI', 'GOBHI ALOO', 'GOBHI MASALA', 'GOL GAPPE', 'GREEK SALAD', 'GREEN MOONG DAL', 'GREEN SALAD', 'GRILLED VEGETABLES', 'GRUB FEST', 'GRUB FESTIVAL', 'GUAVA', 'GULAB GULKAND KI KHEER', 'GULAB JAMUN', 'HAKKA NOODLES', 'HANDI CHICKEN', 'HANDI VEG', 'HARA BHARA KEBAB', 'HARE KADDU KI SABZI', 'HASHBROWN', 'HAWAIIAN SALAD', 'HAWAIIN SALAD', 'HING DHANIYE KE CHATPATE ALOO', 'HOME STYLE MACARONI', 'HOME STYLE MATAR PANEER', 'HOME STYLE MIX PASTA', 'HOMESTYLE CHICKEN CURRY', 'HOMESTYLE PENNE PASTA', 'HONEY', 'HONEY CHILLI POTATO', 'HOT & SOUR SOUP', 'HYDERABADI DAL', 'ICE CREAM', 'ICE TEA', 'IDLI', 'ITALAIN PASTA SALAD', 'JAGGERY', 'JALEBI', 'JALJEERA', 'JAM', 'JEERA ALOO', 'JEERA RICE', 'JHAL MURI', 'JHAL MURI CHAT', 'KACHORI', 'KACHUMBER SALAD', 'KADHAI CHICKEN', 'KADHAI PANEER', 'KADHAI VEG', 'KADHAI VEGETABLE', 'KADHI PAKODA', 'KALA CHANA CHAT', 'KALA JAMUN', 'KALE CHANE', 'KANCHIPURAM IDLI', 'KARELA DO PYAZA', 'KARELA MASALA', 'KASHMIRI DUM ALOO', 'KASOORI METHI ALOO', 'KATHAL KI SABZI', 'KATHAL KI SUBZI', 'KATHAL MASALA', 'KESARI  HALWA', 'KESARI HALWA', 'KESARIYA HALWA', 'KHADA MASALA PULAO', 'KHASTA KACHORI', 'KHASTA KACHORI BHAJI', 'KHATTA MEETHA PANI', 'KHATTA MEETHA PETHA', 'KHOYA BURFI', 'KIMCHI SALAD', 'KINU', 'KOREAN KIMCHI SALAD', 'KOTHMIRI KEBAB', 'KULCHA', 'KULFI', 'KURKURI BHINDI', 'LACCHA ONION', 'LATPATE ALOO', 'LAUKI CHANA MASALA', 'LAUKI KOFTA', 'LAUKI KOFTA CURRY', 'LAUKI MASALA', 'LAUKI URAD VADI', 'LEMON CORIANDER SOUP', 'LEMON CORRIANDER SOUP', 'LEMON SOUFFLE', 'LEMON WATER', 'LUCCHI', 'MAC & CHEESE', 'MAGGIE', 'MALAI KOFTA CURRY', 'MALPUA', 'MANGO', 'MANGO MOUSSE', 'MANGO SHAKE', 'MANGO TANG', 'MARBLE CAKE', 'MASALA AJWANI ALOO', 'MASALA ALOO', 'MASALA BAIGAN', 'MASALA CHACH', 'MASALA CORN', 'MASALA DALIYA', 'MASALA IDLI', 'MASALA JEERA ALOO', 'MASALA KHICHIDI', 'MASALA LACHHA ONION', 'MASALA OMELETTE', 'MASALA PARATHA', 'MASALA POORI', 'MASALA POPCORN', 'MASALA RICE', 'MATAR', 'MATAR ALOO', 'MATAR KULCHA', 'MATAR PANEER', 'MEDETERRANIAN SALAD', 'MEDITERRANEAN SALAD', 'METHI ALOO', 'METHI PARATHA', 'METHI PURI', 'MEXICAN SALAD', 'MILK- HOT & COLD', 'MINT CHUTNEY', 'MINT SANDWICH', 'MINT SAUCE', 'MIRCH KA SALAN', 'MIX  PARATHA', 'MIX FRUIT', 'MIX FRUITS', 'MIX PAKODA', 'MIX PARATHA', 'MIX PASTA IN ALFREDO SAUCE', 'MIX PASTA IN RED SAUCE', 'MIX RAITA', 'MIX VEG', 'MOONG DAL CHILA', 'MOONG DAL CHILLA', 'MOONG DAL HALWA', 'MOONG DAL PALAK', 'MOONG DAL TADKA', 'MUESLI', 'MUFFINS', 'MULLIGATWANY SOUP', 'MUSHROOM MATAR', 'MUSHROOM MATTER MASALA', 'MUSHROOM SOUP', 'MUSHROOM TOAST', 'MUSKMELON', 'NADRU KOFTA CURRY', 'NAMAK PARE', 'NIMBU PANI', 'NUGGETS', 'ONION RICE', 'ORANGE', 'ORANGE TANG', 'PAAN ICE CREAM', 'PACHARI SALAD', 'PALAK CHANA', 'PALAK CHOLE', 'PALAK CORN', 'PALAK CORN BHAJIA', 'PALAK PANEER', 'PALAK PARATHA', 'PAN ICE CREAM', 'PANEEER ROGAN JOSH', 'PANEER BIRYANI', 'PANEER BUTTER MASALA', 'PANEER DHANIYA BUTTER MASALA', 'PANEER DO PYAZA', 'PANEER KALI MIRCH', 'PANEER KORMA', 'PANEER LABABDAR', 'PANEER MAKHANI', 'PANEER METHI MALAI', 'PANEER NILGIRI', 'PANEER ROGAN JOSH', 'PANNER DO PYAZA', 'PANNER KALI MIRCH', 'PAO', 'PAO BHAJI', 'PAPAD', 'PAPAYA', 'PAPDI CHAAT', 'PARMAL ALOO MASALA', 'PARWAL ALOO', 'PASTA SALAD', 'PAYASAM', 'PEARS', 'PEAS PULAO', 'PENNE ALFREDO', 'PENNE ARRABIATA', 'PENNE NAPOLITANA', 'PENNE PASTA IN BASIL PESTO SAUCE', 'PENNE PINK', 'PENNE SICILIANA', 'PHIRNI', 'PIND DA MURG', 'PINDI CHOLEY', 'PINEAPPLE', 'PLAIN CHACH', 'PLAIN LASSI', 'PLAIN PARATHA', 'PLAIN PARATHE', 'PLAIN RICE', 'PLUM', 'POORI', 'PORRIDGE', 'POTATO WEDGES', 'PUDINA PANI', 'PUMPKIN PIE', 'RAJASTHANI DAL', 'RAJASTHANI KADHI', 'RAJMA', 'RAJMA MASALA', 'RAM LADOO', 'RAMPUR KI TEHRI', 'RARA CHICKEN', 'RASAM', 'RAW PAPAYA SALAD', 'RED MALKA DAL', 'RICE', 'RICE KHEER', 'ROSEMARY POTATO', 'RUSSIAN SALAD', 'SABUDANA TIKKI', 'SAMBHAR', 'SAMOSA', 'SARBAT', 'SARSON KA SAAG', 'SAUTE POTATO', 'SAUTE VEG', 'SCHEZWAN FRIED RICE', 'SCRAMBLED EGG', 'SEV TAMATAR KI SABZI', 'SEWAI PAYASAM', 'SHAHI TUKDA', 'SHAHI TUKHA', 'SHAM SAVERA', 'SHARBAT', 'SHARDA', 'SHEER KHURMA', 'SHRADA', 'SINDHI KADHI', 'SINGAPOREAN NOODLES', 'SIRKA ONION', 'SMILEY', 'SOOJI HALWA', 'SOYA BIRYANI', 'SOYA CHAAP CURRY', 'SOYA CHAAP MASALA', 'SOYA CHILLI', 'SOYA KEEMA MATAR', 'SPAGHETTI ARRABIATA', 'SPAGHETTI PASTA IN ARRABIATA SAUCE', 'SPINACH & CORN LASAGNE', 'SPINACH & CORN SANDWICH', 'SPINACH CORN LASAGNE', 'SPINACH CORN SANDWICH', 'SPROUT SALAD', 'SPROUTS SALAD', 'STEAMED RICE', 'STIR FRIED VEGETABLE IN BLACK BEAN SAUCE', 'STIR FRIED VEGETABLE IN HOT GARLIC SAUCE', 'STIR FRIED VEGETABLES IN BLACK BEAN SAUCE', 'STIR FRIED VEGETABLES IN HOT GARLIC SAUCE', 'STIR FRIED VEGETABLES IN SESAME SAUCE', 'STIR FRIED VEGETABLES IN SWEET AND SOUR SAUCE', 'STRAWBERRY CUP CAKE', 'STRAWBERRY ICE CREAM', 'STRAWBERRY SHAKE', 'STUFFED KULCHA', 'STUFFED PARATHA', 'SUBZ KHOLAPURI', 'SUBZ KOLHAPURI', 'SUBZ MAKHANI', 'SUJI UPMA', 'SWEET CORN SOUP', 'SWISS ROLL', 'TANG', 'TAWA ROTI', 'TAWA SABJI', 'TEA', 'THAI CUCUMBER AND CABBAGE SALAD', 'THAI CUCUMBER AND CARROT SALAD', 'THAI CURRY', 'THAI PAPAYA SALAD', 'THANDAI', 'THREE BEAN SALAD', 'TIKONA PARATHA', 'TIKONA PARTHA', 'TINDA MASALA', 'TIRAMISU', 'TIRANGA BARFI', 'TIRANGA PULAO', 'TOM YUM SOUP', 'TOMATO CHUTNEY', 'TOMATO RICE', 'TOMATO SHORBA', 'TOMATO SOUP', 'TOORAI MASALA', 'TORAI MASALA', 'TOSSED SALAD', 'TRUFFLE PUDDING', 'UTTAPAM', 'VADA', 'VADA PAO', 'VANILLA CUP CAKE', 'VANILLA ICE CREAM', 'VEG AUGRATIN', 'VEG AVIAL', 'VEG CLUB SANDWICH', 'VEG DUMPLING IN SOYA GARLIC SAUCE', 'VEG DUMPLING IN SWEET AND SOUR SAUCE', 'VEG FRIED RICE', 'VEG JALFREZI', 'VEG KOFTA CURRY', 'VEG KOFTA IN PALAK GRAVY', 'VEG KORMA', 'VEG LASAGNE', 'VEG MANCHOW SOUP', 'VEG MANCHURIAN', 'VEG NUGGETS', 'VEG PEANUT POHA', 'VEG PIZZA', 'VEG PONGAL', 'VEG PORIYAL', 'VEG PUFF', 'VEG PULAO', 'VEG SANDWICH', 'VEG. KORMA', 'VEG. LUNG FUNG SOUP', 'VEGETABLE BROTH', 'VEGETABLE FLORENTINE', 'VEGETABLE IDLI', 'VEGETABLE KOFTA CURRY', 'VEGETABLE KORMA', 'VEGETABLE MANCHOW', 'VEGETABLE MANCHURIAN', 'VEGETABLE MOUSSAKA', 'VEGETABLE PULAO', 'VEGETABLE SOUP', 'VEGETABLE UTTAPAM', 'VEGTABLE KHICHIDI', 'VERMICILLI UPMA', 'WATERMELON', 'WHITE LOBIYA', 'YELLOW DAL TADKA', 'YELLOW MOONG DAL']

In [12]:
newdf = newdf.join(res)

In [13]:
newdf

,Breakfast,Dinner,Lunch,Snacks,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,...,VEGETABLE MOUSSAKA,VEGETABLE PULAO,VEGETABLE SOUP,VEGETABLE UTTAPAM,VEGTABLE KHICHIDI,VERMICILLI UPMA,WATERMELON,WHITE LOBIYA,YELLOW DAL TADKA,YELLOW MOONG DAL
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1340,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1341,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1342,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1343,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
numarr = newdf.to_numpy()

In [15]:
numarr

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [16]:
numarr.shape

(1344, 577)

In [17]:
X_train = numarr[:int(numarr.shape[0]*0.8)]
X_train.shape

(1075, 577)

In [18]:
X_test = numarr[int(numarr.shape[0]*0.8):]
X_test.shape

(269, 577)

In [19]:
X_train_list = []
Y_train_list = []
hops = 28
no_records = X_train.shape[0]

for i in range(hops,no_records):
    X_train_list.append(X_train[i-hops:i])
    Y_train_list.append(X_train[i])

X_train_list, Y_train_list = np.array(X_train_list), np.array(Y_train_list)

In [20]:
X_train_shaped = np.reshape(X_train_list, (X_train_list.shape[0], X_train_list.shape[1], X_train_list.shape[2]))
Y_train_shaped = np.reshape(Y_train_list, (Y_train_list.shape[0], Y_train_list.shape[1]))

In [21]:
X_train_shaped.shape, Y_train_shaped.shape

((1047, 28, 577), (1047, 577))

In [22]:
X_train_shaped[0].shape

(28, 577)

In [23]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
import tensorflow as tf

2023-08-05 19:09:40.880708: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: SSE4.1 SSE4.2 AVX AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [24]:
class MultidimensionalLSTM(tf.keras.Model):
    def __init__(self, hidden_size, output_size):
        super().__init__()
        self.hidden_size = hidden_size
        
        self.lstm = keras.layers.LSTM(hidden_size, return_sequences=True)
        self.dense = keras.layers.Dense(output_size)
    
    def call(self, inputs):
        x = self.lstm(inputs)
        x = self.dense(x[:, -1, :])
        return x

In [36]:
model = MultidimensionalLSTM(hidden_size=2048, output_size=577)
model.compile(optimizer="adam", loss="mse")

In [37]:
model.fit(X_train_shaped, Y_train_shaped, epochs=10000)

Epoch 1/10000

TypeError: in user code:

    File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/engine/training.py", line 1284, in train_function  *
        return step_function(self, iterator)
    File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/engine/training.py", line 1268, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/engine/training.py", line 1249, in run_step  **
        outputs = model.train_step(data)
    File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/engine/training.py", line 1050, in train_step
        y_pred = self(x, training=True)
    File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/var/folders/82/rllbqfts1ngcl7f8ts__f5000000gn/T/__autograph_generated_filecgqdr12l.py", line 10, in tf__call
        x = ag__.converted_call(ag__.ld(self).lstm, (ag__.ld(inputs),), None, fscope)

    TypeError: Exception encountered when calling layer 'multidimensional_lstm_3' (type MultidimensionalLSTM).

    in user code:

        File "/var/folders/82/rllbqfts1ngcl7f8ts__f5000000gn/T/ipykernel_12325/2201354816.py", line 10, in call  *
            x = self.lstm(inputs)
        File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/layers/rnn/base_rnn.py", line 556, in __call__  **
            return super().__call__(inputs, **kwargs)
        File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/utils/traceback_utils.py", line 70, in error_handler
            raise e.with_traceback(filtered_tb) from None
        File "/Users/kahaan/anaconda3/envs/Menu/lib/python3.10/site-packages/keras/backend.py", line 2464, in dot
            out = tf.matmul(x, y)

        TypeError: Exception encountered when calling layer 'lstm_3' (type LSTM).

        Input 'b' of 'MatMul' Op has type float32 that does not match type int64 of argument 'a'.

        Call arguments received by layer 'lstm_3' (type LSTM):
          â€¢ inputs=tf.Tensor(shape=(None, 28, 577), dtype=int64)
          â€¢ mask=None
          â€¢ training=True
          â€¢ initial_state=None


    Call arguments received by layer 'multidimensional_lstm_3' (type MultidimensionalLSTM):
      â€¢ inputs=tf.Tensor(shape=(None, 28, 577), dtype=int64)